# Server Configuration
PORT=5000
NODE_ENV=production

# Database Connection (MongoDB Atlas or Local MongoDB)
# Atlas Example: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/study_planner?retryWrites=true&w=majority
# Local Example: mongodb://127.0.0.1:27017/study_planner
MONGODB_URI=

# Authentication Secrets
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Client URL (For CORS if frontend hosted separately)
CLIENT_URL=
